<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<div th:replace="fragments :: navbar" />

<body>
	<main>
		<section class="container frame">
			<h1 class="py-5 text-center text-info">Профил</h1>

			<table class="table text-info">
				<tbody>
					<tr>
						<td>Юзър</td>
						<td th:text="${user.username}"></td>
					</tr>
					<tr>
						<td>Роля</td>
						<td th:text="${user.username}"></td>
					</tr>

				</tbody>
			</table>
		
		</section>


	</main>
	<th:block th:replace="fragments :: footer" />
</body>
</html>