<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<div th:replace="fragments :: navbar" />

<body>
	<main>

<div id="about" class="container frame py-5">
      <h2 class="text-info text-center mt-3">Защита на данните</h2>
      <br>
      <h4 class="text-info mt-3">Политика за поверителност на личните данни .</h4> 
      <br>
      <p class="text-info mb-5">
Ние обработватваме лични данни на посетители и регистрирани потребители за целите на рекламата, продажбата и извършването на професионални почистващи услуги, както и за спомагателните дейности, свързани с това.  Администратор на личните данни (“Администраторът”), обработвани от уебсайта е София Клиин Тиим със седалище и адрес на управление в гр. София • Длъжностното лице по защита на данни на Администратора ще отговори на всички Ваши въпроси относно обработката и защитата на личните данни, както и ще направи по-лесен и разбираем процеса на ползване на полагащите Ви се права като субект на лични данни. Адрес за директен контакт с него/нея е имейл sofia-clean-team@gmail.com.

   </p>
    </div>
  </div>
</div>

	</main>
	<th:block th:replace="fragments :: footer" />
</body>
</html>