<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<div th:replace="fragments :: navbar" />

<body>
	<main>

<div id="about" class="container frame py-5">
      <h2 class="text-info text-center mt-3">Условия за ползване</h2>
      <br>
      <p class="text-info mt-3">В качеството си на потребител („Потребител”) на уеб сайта sofia-clean-team.com Вие може да използвате услугите и да разглеждате материалите, които се предоставят чрез него. Моля, прочетете внимателно условията за ползване („Условията”), преди да започнете да използвате електронната страница.</p> 
      <br>
      <p class="text-info mb-5">
С достъпа до и използването на електронната страница, Вие се съгласявате да се обвържете от и да спазвате настоящите Условия и всички техни последващи промени. Вие потвърждавате това ваше съгласие всеки път, когато посетите този уебсайт. Настоящите условия определят правата (Вашите и нашите), отговорностите и задълженията за достъпа Ви до и използването на Сайта. В случай, че не приемате тези Условия, то моля не използвайте услугите, предоставяни от sofia-clean-team.com и преустановете достъпа си до елктронната страницаСайта моментално.
   </p>
    </div>
  </div>
</div>

	</main>
	<th:block th:replace="fragments :: footer" />
</body>
</html>